body {
    background-color: #2B303A;
    color: #EBEBD3;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #9D5C63;
}

.profil {
    width: 50%;
    border-radius: 50%;
}

.allCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

table, th, td {
    border: 1px solid #9D5C63;
    border-collapse: collapse;
    padding: 2%;
}

table {
    overflow: hidden;
    border-radius: 1em;
}

.tableLeft {
    text-align: right;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.sousLI {
    text-align: right;
    font-size: 80%;
}

.centerText {
    text-align: center;
}

a {
    padding: 5% 0;
}

a:link {
    color: #7494EA;
}

a:visited {
    color: #78A1BB;
}